.radioGroupLabel {
    color: #606770;
    font-size: .75rem;
    margin-bottom: 3px;
}

.radioOption {
    flex: 1;
    height: 40px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    padding: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.radioOption.selected {
    color: #000;
}

.radioOptionLabel {
    flex: 1;
    text-align: center;
}