*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Google Sans Flex", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #000;
  letter-spacing: 0.01em;
  line-height: 1.5;
  background: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
select,
textarea,
button {
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}