@import 'tailwindcss';

:root {
  --primary-color: #172a53;
  --color-error: #ff424f;

  --input-border-default: rgba(0, 0, 0, 0.15);
  --input-border-focus: rgba(0, 0, 0, 0.5);
  --input-border-error: var(--color-error);

  --input-bg-default: #ffffff;
  --input-bg-hover: #f9fafb;
  --input-bg-disabled: #f3f4f6;
  --input-bg-error: #fff6f7;

  --radius-none: 0;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-full: 9999px;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Google Sans Flex", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #000;
  letter-spacing: 0.01em;
  line-height: 1.5;
  background: #fff;
}

input,
select,
textarea,
button {
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}