.sortBar {
    padding: 13px 20px;
    margin-bottom: 20px;
    background-color: rgb(0, 0, 0, 0.1);
    border-radius: 4px;
}

.sortBar__label {
    color: #555;
    margin-right: 5px;
}

.sortBar__button {
    text-transform: capitalize;
    padding: 8px 15px;
    background-color: #fff;
    border-radius: 2px;
}