.cart {
    width: 100px;
}

.cart__count {
    top: -5px;
    right: -15px;
    min-width: 30px;
    font-weight: 500;
    line-height: 1;
    color: #172a53;
    padding: 2px 0;
    background-color: #fff;
    border: 2px solid #172a53;
    border-radius: 999px;
}

.cart__dropdown {
    position: absolute;
    top: 100%;
    right: -10px;
    min-width: 350px;
    max-height: 300px;
    padding: 15px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transform: scale(.8);
    transform-origin: top right;
    transition: all 0.2s ease-in-out;
    z-index: 999;
}

.cart__wrapper:hover .cart__dropdown {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.cart__viewAllBtn {
    text-transform: capitalize;
    padding: 6px 20px;
    background-color: #172a53;
    border-radius: 2px;
    transition: opacity 0.3s ease;
}

.cart__viewAllBtn:hover {
    opacity: 0.9;
}

