.mainHeader {
    color: #fff;
    background-color: #172a53;
}

.navbarTop__item a {
    display: flex;
    align-items: center;
    gap: 3px;
    text-transform: capitalize;
    padding: 5px 10px;
    transition: opacity 0.3s ease;
}

.navbarTop__item a:hover {
    opacity: 0.8;
}

