.stepItem {
    position: relative;
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stepItem:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 100%;
    transform: translateX(-50%);
    width: 50%;
    height: 1.5px;
    background-color: #ccc;
}

.stepCircle {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    color: #ccc;
    border: 1.5px solid #ccc;
    border-radius: 50%;
}

.active .stepCircle,
.completed .stepCircle {
    color: #fff;
    border-color: #4CAF50;
    background-color: #4CAF50;
}

.stepLabel {
    color: #ccc;
    margin-top: 5px;
    white-space: nowrap;
}

.active .stepLabel,
.completed .stepLabel {
    color: #4CAF50;
}