.passwordField {
    position: relative;
}

.togglePassword {
    position: absolute;
    top: 20px;
    right: 12px;
    transform: translateY(-50%);
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.8);
}