.textField {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    border: 1px solid var(--input-border-default);
    border-radius: var(--radius-sm);
}

.textField:focus {
    border-color: var(--input-border-focus);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

.textField::placeholder {
    color: rgba(0, 0, 0, 0.35);
}

.textField.error {
    background: var(--input-bg-error);
    border-color: var(--input-border-error);
}

.textField.error:focus {
    border-color: var(--input-border-error);
}

.errorMessage {
    height: 20px;
    font-size: .75rem;
    color: var(--color-error);
    margin-top: 4px;
}